<!-- This template uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file.
  http://www.embeddedjs.com
  using with ejs: github.com/jaketrend/html-webpack-template/blob/master/index.ejs
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- trackjs begin -->
    <% if(htmlWebpackPlugin.options.trackJSToken) { %>

      <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
      <script>
        window.TrackJS && TrackJS.install({
          token: '<%=htmlWebpackPlugin.options.trackJSToken%>'
        });
        </script>
    <% } %>
    <!-- trackjs end -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- polyfill "fetch" only for browers that need it, provied by polyfill.io -->
  <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=fetch"></script>
   -->
  <title>Document</title>
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users">

    </tbody>
  </table>

  <!-- per the webpack config file, this is where the bundles will output from memory -->
  <!-- <script src="bundle.js"></script> -->
</body>
</html>
